<!-- digitalconvergence 4xx module's HTTP 404 error page template file -->
<div class="container">
    <h1>{{ 'Page not found!'|t }}</h1>
    <p>{{ 'The requested page could not be found.'|t }}</p>
</div>